
.play-area {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.main-board {
  display: flex;
  flex: 1 1 50px;
  background: coral;
  width: 80%;
  align-items: center;
}

.player-board-list {
  border: 1px solid black;
  width: 80%;
  display: flex;
  flex: 4 1 auto;
  flex-direction: column;
}

.player-board {
  border: 3px solid black;
  background: grey;
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
}

.player-name {
  height: 10%;
}

.player-hand {
  display: flex;
  flex: 0 1 145px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card {
  margin: 2px;
}

.species-list {
  display: flex;
  flex: 1 1 50px;
  flex-direction: row;
  justify-content: stretch;
}

.between-species {
  width: 20px;
}

.specie-board {
  border-radius:10%;
  border: 5px black;
  background: #2ecc40;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.specie-traits {
  padding: 5%;
  border-radius:10%;
  background: #2eccaa;
  display: flex;
  flex: 4 1 auto;
  flex-direction: column;
}

.trait {
  background: orange;
}

.specie-values {
  display: flex;
  flex: 1 1 0px;
  flex-direction: row;
  justify-content: center;
}

.specie-population {
  border-radius:30%;
  border: 1px solid green;
  margin: 1px;
}

.specie-body-size {
  border-radius:30%;
  border: 1px solid orangered;
  margin: 1px;
}

.specie-food {
  border-radius:50%;
  border: 1px solid green;
  margin: 1px;
  background: green;
}