
.player-board-list {
  border: 1px solid black;
  width: 80%;
  height: 600px;
  background: pink;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.player-board {
  border: 3px solid black;
  background: grey;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.player-name {
  height: 10%;
}

.player-hand {
  background: plum;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

.card {
  border: 1px orange;
  margin: 2px;
}

.species-list {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: space-evenly;
}

.specie-board {
  border: 5px black;
  background: greenyellow;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.specie-traits {
  background: burlywood;
  display: flex;
  flex: 4 1 auto;
  flex-direction: column;
}

.trait {
  background: orange;
}

.specie-values {
  border: 1px solid black;
  display: flex;
  flex: 1 1 0px;
  flex-direction: row;
  justify-content: center;
}

.specie-population {
  border: 1px solid black;
  margin: 1px;
}

.specie-body-size {
  border: 1px solid black;
  margin: 1px;
}